.carousel__insights{
    margin-left: -40px !important;
}
.carousel__dots{
    background: none !important;


    button{
        background: none;
        color: #fff
    }

}    
.carousel__insights{
    .BrainhubCarousel__dots .BrainhubCarousel__dot:before{
        background: #fff !important;
    }
}
