.footer{
    background-color: #707070;
    height: 100px !important;
}
.footer__details{
    color: #fff;
    font-size: 13px !important;
}
.footer__content{
    padding-top: 20px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px !important;
    margin-right: 300px !important;
}
.footer__icons{
    display: flex;
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .footer__social{
        color: #fff !important;
        font-weight: 100;
        font-size: 13px !important;
    }

}
.footer__icon{
    background-color: #C9C9C9;
    font-size: 18px !important;
    padding:5px !important;
    color: #727272;
    border-radius:15px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    height: 1.5em !important;
    width: 1.5em !important;

}
.icon:hover{
    color: #000 !important;
    transition: 0.2s;
}

@media only screen and (max-width: 1366px) {
    .footer__content{
        margin-left: 150px !important;
        margin-right: 150px !important;
    }
  }
@media only screen and (max-width: 600px) {
    .footer{
        display: none;
    }
  }