.footermobile{
    display: none;
}
@media only screen and (max-width: 600px) {
    .footermobile{
        display: block;
        background-color: #CCCCCC;
        height: 100%;
        padding-top: 50px !important;
        padding-bottom: 50px !important ;
    }
    .footermobile__terms{
        display: flex;
        width: 80%;
    }
    .footermobile__btn2{
        background-color: #EBEBEB !important;
        color: #989898 !important;
        border-color: #EBEBEB !important;
        font-size: 40px !important;
        width: 100%;
        height: 100px;
        margin: 15px;
        text-align: center;
    }
    
    .footermobile__navs{
        .footermobile__title{
            margin-top: 20px !important;
        }
        .footermobile__btnCon{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footermobile__title{
            border-bottom: 1px solid gray;
            width: 900px;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            font-size: 40px;
            color: #334A7E;
        }
        .footermobile__btn{
            background-color: #EBEBEB !important;
            color: #989898 !important;
            border-color: #EBEBEB !important;
            font-size: 40px !important;
            width: 900px !important;
            height: 80px;
            margin: 15px;
            text-align: center;
        }
    
    }
}
