.logosection{
    display: none;
}
@media only screen and (max-width: 600px) {
    .logosection{
        display: block;
        background-color: #EBECF0;

    }
    .logosection__con{
        display: flex;
        justify-content: center;

    }
    .logosection__image{
        width: 150px !important;
    }
  }