.events{
    background-color: #EBEBEB;

    .events__content{
        margin-left: 300px;
        margin-right: 300px;
        padding-bottom: 50px;
    }
    .events__text{
        
        margin-left: 20px;
        padding-top: 50px;
        margin-bottom: 30px;
        h5{
            font-weight: 100;
            font-size: 35px;
            margin-bottom: -5px;
        }
        span{
            font-weight: 100;
            font-size: 18px;
        }
    }
    .events__cardcon{
        display: flex;
        justify-content: center;
    }
    .events__card1{
        background-image: url('../images/event.png');
       height: 400px;
       min-width: 400px;
        background-repeat: no-repeat;
        padding:50px ;
        margin-left: 50px;
        color: #fff;
    }
    .events__date{
        margin-left: -23px !important;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 2px;
        align-items: center;
        width: 90px ;
        height: 90px ;
        background-color: #001254;
        color: #fff;
        font-weight:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        span{
            margin-top: 10px;
        }
        h1{
            margin-top: -5px;
        }
    }
    .events__details{
        margin-left: -20px;
        margin-top: 20px ;
        h5{
            font-size: 30px ;
            width: 350px ;
        }

        .events__btn{
            margin-top: 15px ;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            width: 180px;
            border-radius: 2px ;
            font-size: 18px;
        }
    }
    .events__location{
        color: #000;
        text-align: right;
        margin-top: 55px ;
        margin-right: -20px ;
    }
}
.events__carousel{
    display: none;
}
@media only screen and (max-width: 1366px) {
    .events__content{
        margin-left: 150px !important;
        margin-right: 150px !important;
        padding-bottom: 50px;
    }
    .events__card1{
        background-image: url('../images/event.png');
       height: 350px;
       min-width: 350px !important;
        background-repeat: no-repeat;
        padding:50px ;
        margin-left: 50px;
        color: #fff;
    }
    .events__details{
        h5{
            font-size: 25px !important ;
            width: 350px ;
        }
        span{
            font-size: 14px !important;
        }

        .events__btn{
            margin-top: 15px ;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            width: 180px;
            border-radius: 2px ;
            font-size: 18px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .events__cardcon{
        display: none !important;
    }
    .events__carousel{
        display: block;
    }
    .events{
        overflow-x: hidden;
        overflow-y: auto;
    }

    .events__content{
        margin-left: 150px !important;
        margin-right: 150px !important;
    }
    .events__text{
        margin-left: 0px !important;
        h5{
            font-size: 50px !important;
        }
        span{
            font-size: 30px !important;
        }
    }
  }