.insights{
    background-color: #EBEBEB;
    padding-bottom: 50px !important;
    .insights__title{
        
        margin-left: 20px !important;
        h5{
            font-weight: 100;
            font-size: 35px !important;
            margin-bottom: -5px !important;
        }
        span{
            font-weight: 100;
            font-size: 18px !important;
        }
    }
    .insights__content{
        padding-top: 50px !important;
        margin-left: 300px !important;
        margin-right: 300px !important;
    }
    h1{
        margin-bottom: 0 !important;
    }
    .card1 {
        border-bottom: 13px solid #154ED1;
      }
      .card2 {
        border-bottom: 13px solid #01A59E;
      }
      .card3 {
        border-bottom: 13px solid #019BFB;
      }
    .insights__cards{
        display: flex;
        padding: 20px !important;
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        width: 400px;
        height: 470px;
        margin: 1rem;
        position: relative;
 
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
        
    }
    .insights__imagecon{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .insights__cardtitle1{
        color: #154ED1;
        text-align: left !important;
    }
    .insights__cardtitle2{
        color: #01A59E;
        text-align: left !important;
    }
    .insights__cardtitle3{
        color:#019BFB;
        text-align: left !important;
    }
    .insights__imagecon{
        display: flex;
        justify-content: center;
    }
    .insights__cardcon{
        display: flex;
        justify-content: center;
    }

}
