*{
    margin: 0;
}
body{
    font-family:myriad pro !important
}
img{
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.app__mobileheader{
    display: none;
}
@media only screen and (max-width: 600px)  {
    .app{
        width: 1200px;
        
    }
  }